html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: rgb(19, 15, 15);
    color: rgb(255, 255, 255);
}
nav {
    overflow: hidden;
    background-color: #333;
}
nav p {
    color: white;
    text-align: center;
}
nav span {
    color: white;
    display: block;
    padding: 17px 20px;
    float: right;
}
nav span:hover {
    background-color: #6b6b6b;
    color: #ffffff;
    transition: 0.5s;
}
nav a {
    color: white;
    float: left;
    display: block;
    text-align: center;
    padding: 17px 20px;
    text-decoration: none;
}
nav a:hover {
    background-color: #6b6b6b;
    color: #ffffff;
    transition: 0.5s;
}
.sidenav {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.726);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 1.0s;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #cccccc;
    display: block;
    transition: 0.8s;
}
.sidenav a:hover {
    color: #f1f1f1;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.sidenav button {
    background-color: transparent;
    color:white;
}
footer {
    background-color: rgba(66, 66, 66, 0.61);
    color: white;
    text-decoration: none;
    padding: 15px;
}
footer p {
    text-align: center;
    color: white;
}
header {
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 15px;
    text-align: center;
}
header h1 {
    font-size: 60px;
}
header h3 {
    font-size: 30px;
}
::selection {
    background-color: transparent;
    color: rgb(255, 255, 255);
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.sect-1 {
    flex: 25%;
    background-color: transparent;
    padding: 20px;
}
.sect-2 {
    text-align: center;
    padding: 20px;
    background-color: transparent;
    flex: 75%;
}
.sect-3 {
    flex: 50%;
    background-color: transparent;
    padding: 20px;
}
.sect-4 {
    text-align: center;
    padding: 20px;
    background-color: transparent;
    flex: 50%;
}
.left {
    padding: 20px;
    background-color: transparent;
    flex: 50%;
}
.right {
    padding: 20px;
    background-color: transparent;
    flex: 50%;
}
.container {
    width: 100%;
    background-color: rgb(71, 71, 71);
    border-radius: 20px;
}
.skills {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    border-radius: 20px;
}
.file {
    width: 100%; background-color: #a30000;
}
.web {
    width: 80%; background-color: #a30000;
}
.Other {
    width: 65%; background-color: #a30000;
}
* {
    box-sizing: border-box;
}
.iframe-1 {
    position:static;
}
