@font-face {
    font-family: CHILLER;
    src: url(CHILLER.TTF);
}
@font-face {
    font-family: arial;
    src: url(arial.ttf);
}
.header {
    padding: 100px;
    text-align: center;
    background: black;
    color: red;
}
.sidenav {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.726);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #cccccc;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover {
    color: #f1f1f1;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}
.main {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 0, 0, 0);
    flex: 70%;
}
.main-1 {
    text-align: left;
    padding: 20px;
    background-color: rgba(255, 0, 0, 0);
}
.footer {
    text-align: center;
    padding: 20px;
    background: #ddd;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.note {
    margin-bottom: 15px;
    padding: 4px 12px;
}
.update {
    background-color: black;
    border-left: 6px solid rgb(200, 20, 20);
    color: red;
}
.hr.solid {
    border-top: 3px solid black;  
}
.alert {
    padding: 20px;
    background-color: black;
    color: red;
    margin-bottom: 15px;
    opacity: 1;
    transition: 0.5s;
}
.closebtn {
    margin-left: 15px;
    color: darkred;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.closebtn:hover {
    color: red;
}
* {
     box-sizing: border-box;
}
::selection {
    color: red;
    background-color: black;
}